@{
    var url = Request.Url.AbsolutePath;
}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="@Html.Raw(url.ToLower() == "/companyemp/index" ? "active" : "")"><a href="/CompanyEmp/Index">师傅管理</a></li>
        <li class="@Html.Raw(url.ToLower() == "/companyemp/recommend" ? "active" : "")"><a href="/CompanyEmp/Recommend">师傅推荐</a></li>
        <li class="@Html.Raw(url.ToLower() == "/customer/index" ? "active" : "")"><a href="/Customer/Index">用户管理</a></li>
        <li class="@Html.Raw(url.ToLower() == "/order/trade" ? "active" : "")"><a href="/Order/Trade">交易管理</a></li>
        <li class="@Html.Raw(url.ToLower() == "/order/settlement" ? "active" : "")"><a href="/Order/Settlement">结算管理</a></li>
        <li class="@Html.Raw(url.ToLower() == "/order/index" ? "active" : "")"><a href="/Order/Index">业务管理</a></li>
        <li class="@Html.Raw(url.ToLower() == "/order/companysettlement" ? "active" : "")"><a href="/Order/CompanySettlement">公司结算管理</a></li>
    </ul>
</div>

