@model List<Bang.Models.CompanyEmployeeRecommendModel>
@{
    Layout = null;
    var index = 1;
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>师傅账户</th>
                <th>师傅姓名</th>
                <th>推荐用户数量</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.AccountId</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
                index++;
            }
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
