@{
    ViewBag.Title = "师傅推荐";

}

<h2 class="sub-header">师傅推荐列表</h2>
<form>
    <div class="row">
        <div style="display:none;">
            地区:<select id="sel_City" class="form-control" style="display: inline; width: 120px;">
                <option value="-1">全部</option>
                @foreach (var item in Bang.Business.BaseDataManager.GetCityList())
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
            &nbsp;&nbsp;&nbsp;
        </div>年:
        <select id="sel_Year" class="form-control" style="display: inline; width: 90px;">
            @for (var y = DateTime.Now.Year; y >= 2015; y--)
            {
                <option value="@y" @Html.Raw(y == DateTime.Now.Year ? "selected" : "")>@y</option>
            }
        </select>
        &nbsp;&nbsp;&nbsp;月:
        <select id="sel_Month" class="form-control" style="display: inline; width: 90px;">
            @for (var m = 1; m <= 12; m++)
            {
                <option value="@m" @Html.Raw(m == DateTime.Now.Month ? "selected" : "")>@m</option>
            }
        </select>

        &nbsp;&nbsp;&nbsp;一级公司:<input type="text" id="txt_Company" value="" class="form-control" style="display: inline; width: 120px;" />
        &nbsp;&nbsp;&nbsp;师傅账户:<input type="text" id="txt_EmpAccount" value="" class="form-control" style="display: inline; width: 120px;" />
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-8" style="text-align: center">
            <input type="button" id="btn_Query" class="btn btn-default" value="查&nbsp;&nbsp;&nbsp;&nbsp;询" />
        </div>
    </div>
</form>
<h4 class="sub-header"><a id="downloadList" class="btn btn-default" href="#" role="button">下载列表</a></h4>
<div id="div_DataList">
    Loading...
</div>
<script type="text/javascript">
    var isClickPagerBtn = false;
    function bang_pb_callback_fn(index) {
        isClickPagerBtn = true;
        $("#btn_Query").click();
        isClickPagerBtn = false;
    }
    $(function () {
        //查询
        $("#btn_Query").on("click", function () {
            var pageIndex = $("#pb_new_index").length == 0 ? 1 : $("#pb_new_index").val();
            if (isClickPagerBtn == false) {
                pageIndex = 1;
            }
            var postData = {
                city: $("#sel_City option:selected").val(),
                year: $("#sel_Year option:selected").val(),
                month: $("#sel_Month option:selected").val(),
                company: $("#txt_Company").val(),
                empAccount: $("#txt_EmpAccount").val(),
                pageIndex: pageIndex
            };
            alert(JSON.stringify(postData))
            $("#btn_Query").attr("disabled", true);
            $.ajax({
                type: 'post',
                url: "/CompanyEmp/RecommendQuery",
                data: postData,
                success: function (data) {
                    $("#btn_Query").removeAttr("disabled");
                    $("#div_DataList").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btn_Query").removeAttr("disabled");
                    alert("系统异常，请稍后再试！");
                }
            });
        })

        $("#btn_Query").click();
    });
</script>

