@model List<Bang.Models.SettlementModel>
@{
    Layout = null;
    var index = 1;
}
<div class="table-responsive">
    <table class="table table-striped" id="tbl_data_list" data-total="@ViewBag.Total" data-amount="@ViewBag.Amount">
        <thead>
            <tr>
                <th>序号</th>
                <th>结算单号</th>
                <th>对方编号</th>
                <th>交易对方</th>
                <th>结算生成日</th>
                <th>收款人</th>
                <th>收款人银行账号</th>
                <th>收款银行</th>
                <th>交易金额</th>
                <th>补贴金额</th>
                <th>提现金额</th>
                <th>操作是否打出成功</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.SettlementNumber</td>
                    <td>@item.ReceiverNumber</td>
                    <td>@item.ReceiverAccount</td>
                    <td>@item.SettlementDate</td>
                    <td>@item.ReceiverName</td>
                    <td>@item.ReceiverBankAccount</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>@item.ReceiverTotal</td>
                    <td>
                        @if (item.SettlementStatus == "1")
                        {
                            <input type="button" value="打款" onclick="setSettlementStatus(this,'@item.SettlementNumber')" />
                        }
                        else
                        {
                            @Html.Raw("已打款")
                        }
                    </td>
                </tr>
                        index++;
            }
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
