@{
    ViewBag.Title = "Index";
    
}

<h2 class="sub-header">师傅列表</h2>
<form>
    <div class="row">
        <div class="col-md-2">
            地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区:
            <select id="sel_City" class="form-control" style="display: inline; width: 120px;">
                <option value="-1">请选择</option>
                @foreach (var item in Bang.Business.BaseDataManager.GetCityList())
                { 
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            服务分类:<select id="sel_ServiceType" class="form-control" style="display: inline; width: 120px;"><option value="-1">请选择</option>
                @foreach (var item in Bang.Business.BaseDataManager.GetCityList())
                { 
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
        <div class="col-md-4">注册时间:<input id="date_reg_start" class="form-control" style="display: inline; width: 100px;" type="text" onclick="WdatePicker()" />-<input id="date_reg_end" type="text" onclick="    WdatePicker()" class="form-control" style="display: inline; width: 100px;" /></div>
    </div>
    <div class="row" style="margin-top: 4px;">
        <div class="col-md-2">
            师傅号码:<input type="text" id="txt_mobile" class="form-control" style="display: inline; width: 120px;" />
        </div>
        <div class="col-md-2">
            账户状态:<select id="sel_Status" class="form-control" style="display: inline; width: 120px;">
                <option value="-1">请选择</option>
                <option value="1">启用</option>
                <option value="0">禁用</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col-md-8" style="text-align: center">
            <input type="button" id="btn_Query" class="btn btn-default" value="查&nbsp;&nbsp;&nbsp;&nbsp;询" />
        </div>
    </div>
</form>
<h4 class="sub-header"><a id="AddEmp" class="btn btn-default" href="#" role="button">添加师傅</a>&nbsp;&nbsp;<a id="LayoffEmp" class="btn btn-default" href="#" role="button">解除师傅</a></h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="chk_all" />
                    序号</th>
                <th>师傅账户</th>
                <th>姓名</th>
                <th>账户状态</th>
                <th>信用等级</th>
                <th>技能</th>
                <th>注册时间</th>
                <th>在线时长</th>
                <th>订单数量</th>
                <th>师傅详情</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <input type="checkbox" />
                    序号</th>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>技能</td>
                <td>注册时间</td>
                <td>在线时长</td>
                <td>订单数量</td>
                <td>师傅详情</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                    序号</td>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>技能</td>
                <td>注册时间</td>
                <td>在线时长</td>
                <td>订单数量</td>
                <td>师傅详情</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" />
                    序号</td>
                <td>师傅账户</td>
                <td>姓名</td>
                <td>账户状态</td>
                <td>信用等级</td>
                <td>技能</td>
                <td>注册时间</td>
                <td>在线时长</td>
                <td>订单数量</td>
                <td>师傅详情</td>
            </tr>
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = 10, RecordCount = 9, CurrentIndex = 0 })

<script type="text/html" id="tempAddEmp">
    <div style="width: 500px;">
        手机号:<input type="text" id="layer_mobile" /><input type="button" value="增加" id="layer_add" />
    </div>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>序号
                </td>
                <td>手机号</td>
            </tr>
        </thead>
        <tbody id="layer_mobile_list">
        </tbody>
    </table>
    <div style="text-align: center">
        <input type="button" value="确认添加" id="layer_Confirm" />
    </div>
</script>

<script type="text/javascript" src="/Resources/js/PagePromptBox.js"></script>
<script type="text/javascript">
    $(function () {
        $("#AddEmp").on("click", function () {
            webPB.showDialog({ title: "添加师傅", msg: $("#tempAddEmp").html() });
            var index = 1;
            $("#layer_add").on("click", function () {
                var mobile = $("#layer_mobile").val();
                var reg = /^0?1[3|4|5|8][0-9]\d{8}$/;
                if (reg.test(mobile)) {
                    //alert("号码正确~");
                    if ($("#layer_mobile_" + mobile).length != 0) {
                        alert("已存在该手机号:" + mobile)
                        return;
                    }
                    $("<tr id='layer_mobile_" + mobile + "'><td>" + index + "</td><td>" + mobile + "</td></tr>").appendTo("#layer_mobile_list")
                    if ($("#layer_mobile_list").attr("data-list") == undefined) {
                        $("#layer_mobile_list").attr("data-list", mobile)
                    } else {
                        $("#layer_mobile_list").attr("data-list", $("#layer_mobile_list").attr("data-list") + ";" + mobile)
                    }
                    index++;
                    $("#layer_mobile").val("")
                    //alert($("#layer_mobile_list").attr("data-list"))
                } else {
                    alert("号码有误~");
                };
            })
            $("#layer_Confirm").on("click", function () {
                if ($("#layer_mobile_list").attr("data-list") != undefined) {
                    $("#layer_Confirm").attr("disabled", true);
                    $.ajax({
                        type: 'post',
                        url: "/Employee/Add",
                        data: { mobileList: $("#layer_mobile_list").attr("data-list") },
                        success: function (data) {
                            $("#layer_Confirm").removeAttr("disabled");
                            if (data.success) {
                                alert("保存成功:" + data.msg)
                            } else {
                                alert("保存失败:" + data.msg)
                            }
                            webPB.close();
                        },
                        dataType: "JSON",
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#layer_Confirm").removeAttr("disabled");
                            alert("系统异常，请稍后再试！");
                        }
                    });
                }
            })
        })

        //查询
        $("#btn_Query").on("click", function () {

        })
        //解除
        $("#LayoffEmp").on("click", function () {
            var chkList = $("table input[name!='chk_all']");
            var chkCount = 0;
            chkList.each(function () {
                if ($(this).prop("checked")) {
                    chkCount++;
                }
            })
            if (chkCount == 0) {
                alert("请选择师傅")
                return;
            }

            $("#LayoffEmp").attr("disabled", true);
            var empIds = "1,2,4"
            $.ajax({
                type: 'post',
                url: "/Employee/Layoff",
                data: { empIds: empIds },
                success: function (data) {
                    $("#LayoffEmp").removeAttr("disabled");
                    if (data.success) {
                        alert("保存成功:" + data.msg)
                    } else {
                        alert("保存失败:" + data.msg)
                    }
                    webPB.close();
                },
                dataType: "JSON",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#LayoffEmp").removeAttr("disabled");
                    alert("系统异常，请稍后再试！");
                }
            });
        })

        //列表chkbox
        $("table [name='chk_all']").on("click", function () {
            $("table input[name!='chk_all']").prop("checked", this.checked);
        })
        $("table input[name!='chk_all']").on("click", function () {
            if (this.checked == false) {
                $("table [name='chk_all']").prop("checked", false);
            } else {
                var chkList = $("table input[name!='chk_all']");
                var chkCount = 0;
                chkList.each(function () {
                    if ($(this).prop("checked")) {
                        chkCount++;
                    }
                })
                if (chkCount == chkList.length) {
                    $("table [name='chk_all']").prop("checked", true);
                }
            }
        });
    });
</script>

