@model List<Bang.Models.CompanyEmployeeModel>
@{
    Layout = null;
    var index = 1;
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>师傅账户</th>
                <th>姓名</th>
                <th>账户状态</th>
                <th>信用等级</th>
                <th>注册时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <th>@index</th>
                    <td>@item.AccountId</td>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>@item.CreditRating</td>
                    <td>@item.RegDate</td>
                </tr>
                index++;
            }
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })