@model List<Bang.Models.CustomerModel>
@{
    Layout = null;
    var index = 1;
}


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户账户</th>
                <th>昵称</th>
                <th>注册日期</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.AccountId</td>
                    <td>@Html.Raw(item.NickName)</td>
                    <td>@item.RegDate</td>
                </tr>
            }
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
