@model List<Bang.Models.CompanyEmpOrderStatModel>
@{
    Layout = null;
    var index = 1;
}

<div class="table-responsive">
    <table class="table table-striped" id="tbl_data_list">
        <thead>
            <tr>
                <th>序号</th>
                <th>师傅账户</th>
                <th>师傅姓名</th>
                <th>订单数量</th>
                <th>交易金额</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.EmpAccount</td>
                    <td>@item.EmpName</td>
                    <td>@item.OrderCount</td>
                    <td>@item.OrderTotal</td>
                </tr>
                index++;
            }
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>师傅姓名</td>
                <td>订单数量</td>
                <td>交易金额</td>
            </tr>
            <tr>
                <td>序号</td>
                <td>师傅账户</td>
                <td>师傅姓名</td>
                <td>订单数量</td>
                <td>交易金额</td>
            </tr>
    </table>
</div>
