@{
    ViewBag.Title = "师傅交易统计列表";
}
<h2 class="sub-header">师傅交易统计列表</h2>
<div class="row">
    机构名称:@Html.Raw(_54Bang.Web.Company.Authentication.UserContext.Current.UserName)
    &nbsp;&nbsp;&nbsp;年:
            <select id="sel_Year" class="form-control" style="display: inline; width: 90px;">
                @for (var y = DateTime.Now.Year; y >= 2015; y--)
                { 
                    <option value="@y" @Html.Raw(y == DateTime.Now.Year ? "selected" : "")>@y</option>
                }
            </select>
    &nbsp;&nbsp;&nbsp;月:
            <select id="sel_Month" class="form-control" style="display: inline; width: 90px;">
                @for (var m = 1; m <= 12; m++)
                { 
                    <option value="@m" @Html.Raw(m == DateTime.Now.Month ? "selected" : "")>@m</option>
                }
            </select>&nbsp;&nbsp;&nbsp;
    师傅账户:<input type="text" id="txt_EmpAccount" value="" class="form-control" style="display: inline; width: 120px;" />
    <input type="button" id="btn_Query" class="btn btn-default" value="查&nbsp;&nbsp;&nbsp;&nbsp;询" />
</div>
<h5 class="sub-header"><a id="downloadList" class="btn btn-default" href="#" role="button">下载列表</a></h5>
<div id="div_DataList">
    Loading...
</div>
<script type="text/javascript">
    $(function () {
        $("#btn_Query").on("click", function () {
            var postData = {
                year: $("#sel_Year option:selected").val(),
                month: $("#sel_Month option:selected").val(),
                empAccount: $("#txt_EmpAccount").val()
            };
            alert(JSON.stringify(postData))
            $("#btn_Query").attr("disabled", true);
            $.ajax({
                type: 'post',
                url: "/Order/EmpOrderQuery",
                data: postData,
                success: function (data) {
                    $("#btn_Query").removeAttr("disabled");
                    $("#div_DataList").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btn_Query").removeAttr("disabled");
                    alert("系统异常，请稍后再试！" + errorThrown);
                }
            });
        })
        $("#btn_Query").click();
    })
</script>
