@model List<Bang.Models.OrderModel>
@{
    Layout = null;
    var index = 1;
}
<div class="table-responsive">
    <table class="table table-striped" id="tbl_data_list">
        <thead>
            <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>交易时间</th>
                <th>订单状态</th>
                <th>服务分类</th>
                <th>交易额</th>
                <th>手续费</th>
                <th>补贴费</th>
                <th>师傅账户</th>
                <th>用户账户</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.OrderId</td>
                    <td>@item.TradeDate</td>
                    <td>
                        @if (item.ReleaseStatus == "5")
                        {
                            @Html.Raw("已取消")
                        }
                        else if (item.MoneyStatus == "-10" || item.MoneyStatus == "-15")
                        {
                            @Html.Raw("待退款");
                        }
                        else
                        {
                            if (item.Status == "15")
                            {
                                @Html.Raw("等待支付");
                            }
                            else if (item.Status == "90")
                            {
                                @Html.Raw("服务已完成");
                            }
                            else
                            {
                                @Html.Raw("服务中");
                            }
                        }
                    </td>
                    <td>@item.ServiceType</td>
                    <td>@item.Total</td>
                    <td>--</td>
                    <td>--</td>
                    <td>@item.CompanyEmpAccount</td>
                    <td>@item.Customer</td>
                </tr>
                index++;
            }
    </table>
</div>
@Html.Partial("PageBar", new Bang.Models.PageBarInfoModel { PageSize = ViewBag.PageSize, RecordCount = ViewBag.RecordCount, CurrentIndex = ViewBag.CurrentIndex })
