@model List<Bang.Models.CompanySettlementModel>
@{
    Layout = null;
    var index = 1;
    decimal total = 0;
}
<div class="table-responsive">
    <table class="table table-striped" id="tbl_data_list" data-total="@total">
        <thead>
            <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>交易额</th>
                <th>类型</th>
                <th>师傅账户</th>
                <th>订单时间</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.OrderId</td>
                    <td>+@item.TradeTotal</td>
                    <td>@item.ServiceType</td>
                    <td>@item.EmpAccount</td>
                    <td>@item.OrderDate</td>
                </tr>
                total += item.TradeTotal;
            }
    </table>
</div>
